<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="database" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <database>
    <add key="datasource" value="mcn-rd-sql2k12"/>
    <add key="user" value="sa"/>
    <add key="password" value="testdb2012#"/>
    <add key="database" value="everbluMMO"/>
    <add key="separator" value=","/>
    <add key="port" value="1433"/>
  </database>

</configuration>